@import './styles/Expenses.css';
@import './styles/ExpenseDate.css';
@import './styles/ExpenseItem.css';
@import './styles/Expenseform.css';
@import './styles/ExpenseFilter.css';
@import './styles/ExpensesList.css';
@import './styles/NewExpense.css';
@import './styles/Card.css';

/* Chart */
@import './styles/Chart/Chart.css';
@import './styles/Chart/ChartBar.css';

body{
    background-color: whitesmoke;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.title{
    text-align: center;
    color:rgb(130, 91, 209);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}